{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h1>Checkout</h1>   
    <section>
        <div class="product">
            <img src="{{ product.image_url }}" alt="{{ product.name }}" />
            <div class="description">
                <h3>{{ product.name }}</h3>
                <h5>£{{ product.price }}</h5>   
            </div>
        </div>
        <form action="{% url 'payment:create_stripe_checkout_session' %}" method="POST">  
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" id="checkout-button">Proceed to Checkout</button>    
        </form> 
         <!-- Back to Products button -->
        <a href="{% url 'shop:products' %}" class="btn btn-secondary">Back to Products</a>
    </section>
{% endblock %}
