{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>All Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.category.name }}</td>
                <td>£{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}