{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <h1>Shop for Dogs</h1>
    <p>Discover toys and accessories for your loyal companions!</p>
</div>

<!-- List of Dog Accessories -->
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_lead1.png' %}" class="card-img-top" alt="Dog Lead">
            <div class="card-body">
                <h5 class="card-title">Dog lead 1 - Flexi New Classic Extending Dog Lead 8m Black Large</h5>
                <p class="card-text">Large</p>
                <p class="card-price">£ 20.80</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="1">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_lead2.png' %}" class="card-img-top" alt="Dog Lead">
            <div class="card-body">
                <h5 class="card-title">Dog lead 2 - Flexi New Classic Extending Dog Lead 8m Red Small</h5>
                <p class="card-text">Small</p>
                <p class="card-price">£ 13.20</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="2">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_lead3.png' %}" class="card-img-top" alt="Dog Lead">
            <div class="card-body">
                <h5 class="card-title">Dog lead 3 - Flexi New Neon Extending Dog Lead 5m Yellow Medium</h5>
                <p class="card-text">Medium</p>
                <p class="card-price">£ 16.00</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="3">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_bed1.png' %}" class="card-img-top" alt="Dog Bed">
            <div class="card-body">
                <h5 class="card-title">Dog Bed 1 - Explorer Dog Crate Mat Slate Grey</h5>
                <p class="card-text">Small</p>
                <p class="card-price">£ 14.00</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="4">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_bed2.png' %}" class="card-img-top" alt="Dog Bed">
            <div class="card-body">
                <h5 class="card-title">Dog Bed 2 - Bone Pillow Mattress Dog Bed Grey</h5>
                <p class="card-text">Medium</p>
                <p class="card-price">£ 12.00</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="5">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_bed3.png' %}" class="card-img-top" alt="Dog Bed">
            <div class="card-body">
                <h5 class="card-title">Dog Bed 3 - Noble Chenille Bolstered Dog Bed Grey</h5>
                <p class="card-text">Large</p>
                <p class="card-price">£ 75.00</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="6">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_food1.png' %}" class="card-img-top" alt="Dog Food">
            <div class="card-body">
                <h5 class="card-title">Dog Food 1 - Royal Canin Size Health Nutrition Giant Puppy Dry Food</h5>
                <p class="card-text">15kg</p>
                <p class="card-price">£ 60.00</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="7">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_food2.png' %}" class="card-img-top" alt="Dog Food">
            <div class="card-body">
                <h5 class="card-title">Dog Food 2 - Royal Canin Veterinary Hypoallergic Adult Wet Dog Food</h5>
                <p class="card-text">12 x 400g</p>
                <p class="card-price">£ 46.49</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="8">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'images/dog_food3.png' %}" class="card-img-top" alt="Dog Food">
            <div class="card-body">
                <h5 class="card-title">Dog Food 3 - James Wellbeloved Senior Dry Dog Food Turkey & Rice</h5>
                <p class="card-text">15kg</p>
                <p class="card-price">£ 52.99</p>
                <form action="{% url 'payment:checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="9">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
